# Project exclude paths
/ds-finance-bank-client/target/
/ds-finance-bank-common/target/
/ds-finance-bank-ear/target/
/ds-finance-bank-ejb/target/
/ds-finance-bank-web/target/


# User-specific stuff
.idea/**/workspace.xml
.idea/git_toolbox_prj.xml
.idea/jpa-buddy.xml


# Sensitive or high-churn files
.idea/dataSources/
.idea/dataSources.local.xml
.idea/dataSources.xml

# Sonarlint plugin
.idea/sonarlint/